# IMPORTING FOLDERS AND DIRECTORIES

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv("Train.csv")
data = data.drop(['ID'], axis = 1)

In [3]:
data = data.drop(["class","education_institute","unemployment_reason","is_labor_union","occupation_code_main","under_18_family","veterans_admin_questionnaire","residence_1_year_ago","old_residence_reg","old_residence_state","migration_prev_sunbelt"], axis = 1)

In [4]:
b = ' Female'
data['gender'] = data['gender'].apply(lambda x : 1 if x != b else 0)
data["gender"].unique()

array([0, 1], dtype=int64)

In [5]:
data["income_above_limit"] = data["income_above_limit"].apply(lambda x:1 if x == "Above limit" else 0)

#### GETTING THE CORRELATION DATA WITH ALL THE FEATURES WITH RESPECT TO INCOME ABOVE LIMIT COLUMN

In [6]:
corr_matrix = data.corr()
corr_matrix["income_above_limit"].sort_values(ascending = False)

C:\Users\HP\AppData\Local\Temp\ipykernel_10284\4151716024.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = data.corr()

income_above_limit       1.000000
working_week_per_year    0.262632
gains                    0.240253
total_employed           0.224914
industry_code            0.195324
stocks_status            0.180032
gender                   0.156881
losses                   0.152156
vet_benefit              0.140578
age                      0.136103
employment_stat          0.041225
wage_per_hour            0.023459
mig_year                 0.017267
occupation_code          0.014474
importance_of_record     0.013327
Name: income_above_limit, dtype: float64

#### TO SIDE OUT THE OUTLIERS, WE ARE SETTING A UPPER AND LOWER BOUND USING THE QUANTILE METHOD WHICH EVENTUALLY INCREASES THE EFFICIENCY OF THE MODEL's PREDICTIONS

In [7]:
upper_limit = data["working_week_per_year"].quantile(0.99)
lower_limit = data["working_week_per_year"].quantile(0.01)
print(f"WORKING WEEK PER YEAR : Upper limit = {upper_limit} and Lower limit = {lower_limit}")

WORKING WEEK PER YEAR : Upper limit = 52.0 and Lower limit = 0.0

In [8]:
upper_limit = data["gains"].quantile(0.99)
lower_limit = data["gains"].quantile(0.01)
print(f"GAINS : Upper limit = {upper_limit} and Lower limit = {lower_limit}")

GAINS : Upper limit = 8614.0 and Lower limit = 0.0

In [9]:
upper_limit = data["total_employed"].quantile(0.99)
lower_limit = data["total_employed"].quantile(0.01)
print(f"TOTAL_EMPLOYED : Upper limit = {upper_limit} and Lower limit = {lower_limit}")

TOTAL_EMPLOYED : Upper limit = 6.0 and Lower limit = 0.0

In [10]:
upper_limit = data["industry_code"].quantile(0.99)
lower_limit = data["industry_code"].quantile(0.01)
print(f"INDUSTRY CODE : Upper limit = {upper_limit} and Lower limit = {lower_limit}")

INDUSTRY CODE : Upper limit = 49.0 and Lower limit = 0.0

In [11]:
upper_limit = data["stocks_status"].quantile(0.99)
lower_limit = data["stocks_status"].quantile(0.01)
print(f"STOCKS STATUS : Upper limit = {upper_limit} and Lower limit = {lower_limit}")

STOCKS STATUS : Upper limit = 4500.0 and Lower limit = 0.0

#### GETTING THE DATA INTO RESPECTIVE COLUMNS SO THAT OUTLIERS WOULD BE ELIMINATED AND WE COULD GET BEST DATA SET

In [12]:
new_df = data[(data["working_week_per_year"] <= 52.0) & (data["working_week_per_year"] >= 0.0)]

In [13]:
new_df = data[(data["gains"] <= 8614.0) & (data["gains"] >= 0.0)]

In [14]:
new_df = data[(data["total_employed"] <= 6.0) & (data["total_employed"] >= 0.0)]

In [15]:
new_df = data[(data["industry_code"] <= 49.0) & (data["industry_code"] >= 0.0)]

In [16]:
new_df = data[(data["stocks_status"] <= 4500.0) & (data["stocks_status"] >= 0.0)]

In [17]:
data.describe()

,age,gender,employment_stat,wage_per_hour,working_week_per_year,industry_code,occupation_code,total_employed,vet_benefit,gains,losses,stocks_status,mig_year,importance_of_record,income_above_limit
count,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000
mean,34.518728,0.480742,0.176760,55.433487,23.158850,15.332398,11.321734,1.956067,1.515854,435.926887,36.881737,194.533420,94.499745,1740.888324,0.062043
std,22.306738,0.499630,0.555562,276.757327,24.397963,18.049655,14.460839,2.365154,0.850853,4696.359500,270.383302,1956.375501,0.500001,995.559557,0.241235
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,94.000000,37.870000,0.000000
25%,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,94.000000,1061.290000,0.000000
50%,33.000000,0.000000,0.000000,0.000000,8.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,94.000000,1617.040000,0.000000
75%,50.000000,1.000000,0.000000,0.000000,52.000000,33.000000,26.000000,4.000000,2.000000,0.000000,0.000000,0.000000,95.000000,2185.480000,0.000000
max,90.000000,1.000000,2.000000,9999.000000,52.000000,51.000000,46.000000,6.000000,2.000000,99999.000000,4608.000000,99999.000000,95.000000,18656.300000,1.000000

#### CREATING NEW FEATURES FROM THE EXISTING FEATURES FOR INCREASING THE NUMBER OF CORRELATED FEATURES WITH INCOME ABOVE LIMIT COLUMN

In [18]:
target = new_df["income_above_limit"]
new1 = pd.DataFrame(new_df["working_week_per_year"]+new_df["total_employed"], columns = ['wwpy+te'])
df1 = pd.concat([new1,target], axis = 1)
corr_matrix = df1.corr()
corr_matrix

                     wwpy+te  income_above_limit
wwpy+te             1.000000            0.265402
income_above_limit  0.265402            1.000000

In [19]:
target = new_df["income_above_limit"]
new3 = pd.DataFrame(new_df["working_week_per_year"] - new_df["occupation_code"], columns = ['wwpy-oc'])
df3 = pd.concat([new3,target], axis = 1)
corr_matrix = df3.corr()
corr_matrix

                    wwpy-oc  income_above_limit
wwpy-oc             1.00000             0.33346
income_above_limit  0.33346             1.00000

In [20]:
new_df = pd.concat([new1,new3,new_df], axis = 1)

In [21]:
new_df.head()

,wwpy+te,wwpy-oc,age,gender,education,marital_status,race,is_hispanic,employment_commitment,employment_stat,...,citizenship,mig_year,country_of_birth_own,country_of_birth_father,country_of_birth_mother,migration_code_change_in_msa,migration_code_move_within_reg,migration_code_change_in_reg,importance_of_record,income_above_limit
0,54,52,79,0,High school graduate,Widowed,White,All other,Not in labor force,0,...,Native,95,US,US,US,?,?,?,1779.74,0
1,0,0,65,0,High school graduate,Widowed,White,All other,Children or Armed Forces,0,...,Native,94,US,US,US,unchanged,unchanged,unchanged,2366.75,0
2,19,-11,21,1,12th grade no diploma,Never married,Black,All other,Children or Armed Forces,0,...,Native,94,US,US,US,unchanged,unchanged,unchanged,1693.42,0
3,0,0,2,0,Children,Never married,Asian or Pacific Islander,All other,Children or Armed Forces,0,...,Native,94,US,India,India,unchanged,unchanged,unchanged,1380.27,0
4,0,0,70,1,High school graduate,Married-civilian spouse present,White,All other,Not in labor force,0,...,Native,95,US,US,US,?,?,?,1580.79,0

#### FINALSING THE DATA BY CONCATINATING THE FEATURES WHICH ARE OF USE AND THEN WILL WORK UPON THAT DATASET ONLY

In [22]:
c1 = pd.DataFrame(new_df["working_week_per_year"])
c2 = pd.DataFrame(new_df["gains"])
c3 = pd.DataFrame(new_df["total_employed"])
c4 = pd.DataFrame(new_df["industry_code"])
c5 = pd.DataFrame(new_df["stocks_status"])
c6 = pd.DataFrame(new_df["income_above_limit"])

In [23]:
final_data = pd.concat([c1,c2,c3,c4,c5,new1,new3,c6], axis = 1)

#### SINCE, THE NUMBER OF 0's AND 1's IS WIDELY DIFFERENT, WE'LL USE UPSAMPLING METHOD FOR GETTING THE COUNT OF 0's AND 1's SOME WAY EQUAL FOR BETTER PREDICTIONS

In [24]:
final_data["income_above_limit"].value_counts()

0    195348
1     12092
Name: income_above_limit, dtype: int64

In [25]:
final_data.head()

,working_week_per_year,gains,total_employed,industry_code,stocks_status,wwpy+te,wwpy-oc,income_above_limit
0,52,0,2,0,292,54,52,0
1,0,0,0,0,0,0,0,0
2,15,0,4,41,0,19,-11,0
3,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0

In [26]:
from sklearn.utils import resample
#create two different dataframe of majority and minority class 
df_majority = final_data[(final_data['income_above_limit']==0)] 
df_minority = final_data[(final_data['income_above_limit']==1)] 
# upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,    # sample with replacement
                                 n_samples= 195348, # to match majority class
                                 random_state=42)  # reproducible results

# Combine majority class with upsampled minority class
final_df = pd.concat([df_minority_upsampled, df_majority])

In [27]:
final_df["income_above_limit"].value_counts()

1    195348
0    195348
Name: income_above_limit, dtype: int64

#### AGAIN, CHECKING THE CORRELATION OF THE FINAL DATASET AND IT IS SHOWING WONDERFUL RESULT

In [28]:
corr_matrix = final_df.corr()
corr_matrix["income_above_limit"].sort_values(ascending = False)

income_above_limit       1.000000
wwpy-oc                  0.628719
wwpy+te                  0.595970
working_week_per_year    0.593020
total_employed           0.460990
industry_code            0.416189
stocks_status            0.225644
gains                    0.184617
Name: income_above_limit, dtype: float64

# TRAIN-TEST DATA SPLITTING

In [29]:
x = final_df.drop(["income_above_limit"], axis = 1)

In [30]:
y = final_df["income_above_limit"]

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.20, random_state = 62)

###### SELECTING BEST MODEL

In [32]:
rfc = RandomForestClassifier()
rfc.fit(x_train,y_train)
y_predictions = rfc.predict(x_test)

predictions = pd.DataFrame({'y_test':y_test,
                           'y_predictions':y_predictions})

#### FINDING THE MEAN SQUARED ERROR AND ROOT MEAN SQUARED ERROR OF THE Y_TEST (ORIGINAL) AND Y_PREDICTIONS (PREDICTED BY RANDOM FOREST CLASSIFIER)

In [33]:
mse = mean_squared_error(y_test,y_predictions)
rmse = np.sqrt(mse)

print(f"MEAN SQUARED ERROR = {mse} and ROOT MEAN SQUARED ERROR = {rmse}")

MEAN SQUARED ERROR = 0.098285129255183 and ROOT MEAN SQUARED ERROR = 0.3135045920798976

#### CROSS - VALIDATING THE DATA

In [34]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(rfc,x_train,y_train,scoring = "neg_mean_squared_error",cv = 10)
rmse_scores = np.sqrt(-scores)

In [35]:
def print_scores(scores):
    print("Scores :",scores)
    print("Mean :",scores.mean())
    print("Standard Deviation :",scores.std())
print_scores(scores)

Scores : [-0.09783722 -0.09594958 -0.09594958 -0.09828513 -0.09566163 -0.0963335
 -0.09268917 -0.09665653 -0.09816029 -0.09579267]
Mean : -0.09633153090181792
Standard Deviation : 0.001543740311427975

#### GETTING THE CLASSIFICATION REPORT FOR MAKING SOME JUDGEMENT ABOUT THE EFFICIENCY AND EFFECTIVENESS OF THE MODEL

In [36]:
from sklearn.metrics import confusion_matrix
matrix = confusion_matrix(y_test,y_predictions, labels=[1,0])
print('Confusion matrix : \n',matrix)
print()
# classification report for precision, recall f1-score and accuracy
from sklearn.metrics import classification_report
matrix = classification_report(y_test,y_predictions,labels=[1,0])
print('Classification report : \n',matrix)

Confusion matrix :
 [[36329  2723]
 [ 4957 34131]]

Classification report :
               precision    recall  f1-score   support

           1       0.88      0.93      0.90     39052
           0       0.93      0.87      0.90     39088

    accuracy                           0.90     78140
   macro avg       0.90      0.90      0.90     78140
weighted avg       0.90      0.90      0.90     78140

#### SAVING THE MODEL FOR FURTHER USAGE

In [37]:
from joblib import dump,load
dump(rfc, 'Dragon.joblib')

['Dragon.joblib']

In [38]:
from joblib import dump, load
import numpy as np
rfc = load('Dragon.joblib')

#### GIVING THE INPUT FEATURE FOR TESTING THE MODEL

In [39]:
feature = np.array([[0,0,0,0,0,0,0]])

In [40]:
rfc.predict(feature)

D:\anaconda\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

## SINCE, THE FINAL DATA IS CONTAINING 7 FEATURES AND THE 8TH ONE IS OUTPUT COLUMN
## SO, FOR GETTING THE PREDICTIONS, WE NEED TO ENTER 7 INPUT FEATURES WHICH ARE AS FOLLOWS:
#### working_week_per_year
#### gains
#### total_employed
#### industry_code
#### stocks_status
#### wwpy+te ----> (working_week_per_year + total_employed)
#### wwpy-oc ----> (working_week_per_year - occupational code)

In [41]:
features_df = ['working_week_per_year', 'gains', 'total_employed', 'industry_code','stocks_status', 'wwpy+te', 'wwpy-oc', 'income_above_limit']
features_df

['working_week_per_year',
 'gains',
 'total_employed',
 'industry_code',
 'stocks_status',
 'wwpy+te',
 'wwpy-oc',
 'income_above_limit']